<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="/css/main_style.css" rel="stylesheet"/>
</head>
<body>

    <header id="header_nav">
        <nav id="navigation_bar">
            <ul>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Add Product</a></li>
                <li><a href="#">Admin Products</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="product_container">
        <% products.forEach(product => { %>
            <div class="product" style="min-width: 200px;">
                <form method="POST" action="/admin-products" style="display: flex; flex-direction: column; align-items: center;">
                    <input name="title" type="text" value="<%= product.title %>">
                    <input name="imageUrl" type="text" value="<%= product.imageUrl %>">
                    <input name="price" type="number" step="any" value="<%= product.price %>">
                    <input name="description" type="text" value="<%= product.description %>">
                    <button name="id" value="<%= product.id %>" type="submit" id="admin_save">Save</button>
                </form>
                <form method="GET" action="/admin-products/del">
                    <button type="submit" id="admin_delete" name="id" value="<%= product.id %>">Delete</button>
                </form>
            </div>
        <% }) %>
    </section>

    <script>
        const routes = ['/shop', '/products', '/cart', '/add-product', '/admin-products']
        let elements = document.querySelectorAll('#navigation_bar ul li a')
        const nav_a = document.querySelectorAll('#navigation_bar ul li')

        let basePath = window.location.pathname.includes('/admin') && window.location.pathname !== '/admin-products' ? '/admin' : ''
        
        let path = window.location.pathname.replace(/\/$/, '')

        for (let x = 0; x < routes.length; x++) {
            elements[x].href = basePath + routes[x]
            let normalizedRoute = (basePath + routes[x]).replace(/\/$/, '')
            if (normalizedRoute === path) {
                nav_a[x].classList.add('active_nav')
            }  else {
                nav_a[x].classList.remove('active_nav')
            }
        }

    </script>
</body>
</html>