{{#article}}
    <h1>{{article_name}}</h1>
    <p>Published {{published}}</p>
    <p>Author: <a href="/author/{{author_id}}">{{author_name}}</a></p>
    <p><img src="/images/{{image}}" alt=""></p>
    {{{body}}}
{{/article}}