{{#article}}
    <h1>{{name}}</h1>
    <p>Published {{published}}</p>
    <p>Author: <a href="/author/{{author_id}}">{{../author.name}}</a></p>
    <p><img src="/images/{{image}}" alt=""></p>
    {{{body}}}
{{/article}}