<h1>{{./author.name}}</h1>

<div class="article-list">
    {{#articles}}
    <article>
        <a href="/article/{{slug}}">
            <img src="/images/{{image}}" alt="">
        </a>
        <h2><a href="/article/{{slug}}">{{name}}</a></h2>
    </article>
    {{/articles}}
</div>